.brand{
	color:#FFBF00!important;
}
.yahtzee{
	background-color:#393E41!important;
}
.linked{
	color:blue;
	font-size: 50px;
}
.toplogo{
	align-items: center;
	max-height: 50px;
	max-width: 100px;
}
.player{
	font-size:50px;
	color:#FFBF00!important;
	display: flex;
	justify-content: center;

}
.background{
	background-image: url("https://images6.alphacoders.com/451/451028.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.scorecard{
	background-color: rgba(255, 255, 255, .75);
}
