<main class="container-fluid">
	<section>
		<div class="row">
					<span class="player">Player Turn!</span>
							</div>
	</section>
	<div class="container-fluid backdrop">


	<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<table class=" table scorecard ">
				<tr class="section">
					<td>UPPER SECTION</td>
					<td>HOW TO SCORE</td>
					<td>GAME SCORE</td>
				</tr>
				<tr>
					<td>Aces: 1</td>
					<td>Count and Add Only Aces</td>
					<td>  	</td>
				</tr>
				<tr>
					<td>Twos: 2</td>
					<td>Count and Add Only Twos</td>
					<td>    </td>
				</tr>
				<tr>
					<td>Threes: 3</td>
					<td>Count and Add Only Threes</td>
					<td>    </td>
				</tr>
				<tr>
					<td>Fours: 4</td>
					<td>Count and Add Only Fours</td>
					<td>    </td>
				</tr>
				<tr>
					<td>Fives: 5</td>
					<td>Count and Add Only Fives</td>
					<td>    </td>
				</tr>
				<tr>
					<td>Sixes: 6</td>
					<td>Count and Add Only Sixes</td>
					<td>    </td>
				</tr>
				<tr class="total">
					<td>TOTAL SCORE</td>
					<td>------</td>
					<td>      </td>
				</tr>
				<tr>
					<td>BONUS!</td>
					<td>If total Score is 63+</td>
					<td>35</td>
				</tr>
				<tr class="total">
					<td>TOTAL</td>
					<td>Of Upper Section</td>
					<td>       </td>
				</tr>
				<tr  class="section">
					<td >LOWER SECTION</td>
					<td ></td>
					<td ></td>
				</tr>
				<tr>
					<td>3 of a kind</td>
					<td>Add Total of All Dice</td>
					<td>     </td>
				</tr>
				<tr>
					<td>4 of a kind</td>
					<td>Add Total of All Dice</td>
					<td>     </td>
				</tr>
				<tr>
					<td>4 of kind</td>
					<td>Add Total of All Dice</td>
					<td>     </td>
				</tr>
				<tr>
					<td>Full House</td>
					<td>Score: 25</td>
					<td>    </td>
				</tr>
				<td>Small Straight (4)</td>
				<td>Score: 30</td>
				<td>      </td>
				<tr>
					<td>Large Straight (5)</td>
					<td>Score: 40</td>
					<td>     </td>
				</tr>
				<tr>
					<td>YAHTZEE!</td>
					<td>Score: 50</td>
					<td>     </td>
				</tr>
				<tr>
					<td>Chance</td>
					<td>Score Total of All 5 Dice</td>
					<td>     </td>
				</tr>
				<tr>
					<td>YAHTZEE BONUS!</td>
					<td>100 Per Bonus</td>
					<td>   </td><td>   </td><td>   </td>
				</tr>
				<tr class="total">
					<td>TOTAL Lower</td>
					<td>--------</td>
					<td>     </td>
				</tr>
				<tr class="total">
					<td class="total">Total Upper</td>
					<td>-------</td>
					<td>     </td>
				</tr>
				<tr class="total">
					<td>GRAND TOTAL</td>
					<td>-------</td>
					<td>   </td>
				</tr>
			</table>
					</div>
					<div class="col-sm-6">
						<table class="table scorecard">
							<tr class="section">
								<td>UPPER SECTION</td>
								<td>HOW TO SCORE</td>
								<td>GAME SCORE</td>
							</tr>
							<tr>
								<td>Aces: 1</td>
								<td>Count and Add Only Aces</td>
								<td>  	</td>
							</tr>
							<tr>
								<td>Twos: 2</td>
								<td>Count and Add Only Twos</td>
								<td>    </td>
							</tr>
							<tr>
								<td>Threes: 3</td>
								<td>Count and Add Only Threes</td>
								<td>    </td>
							</tr>
							<tr>
								<td>Fours: 4</td>
								<td>Count and Add Only Fours</td>
								<td>    </td>
							</tr>
							<tr>
								<td>Fives: 5</td>
								<td>Count and Add Only Fives</td>
								<td>    </td>
							</tr>
							<tr>
								<td>Sixes: 6</td>
								<td>Count and Add Only Sixes</td>
								<td>    </td>
							</tr>
							<tr class="total">
								<td>TOTAL SCORE</td>
								<td>------</td>
								<td>      </td>
							</tr>
							<tr>
								<td>BONUS!</td>
								<td>If total Score is 63+</td>
								<td>35</td>
							</tr>
							<tr class="total">
								<td>TOTAL</td>
								<td>Of Upper Section</td>
								<td>       </td>
							</tr>
							<tr class="section">
								<td>LOWER SECTION</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>3 of a kind</td>
								<td>Add Total of All Dice</td>
								<td>     </td>
							</tr>
							<tr>
								<td>4 of a kind</td>
								<td>Add Total of All Dice</td>
								<td>     </td>
							</tr>
							<tr>
								<td>4 of kind</td>
								<td>Add Total of All Dice</td>
								<td>     </td>
							</tr>
							<tr>
								<td>Full House</td>
								<td>Score: 25</td>
								<td>    </td>
							</tr>
							<td>Small Straight (4)</td>
							<td>Score: 30</td>
							<td>      </td>
							<tr>
								<td>Large Straight (5)</td>
								<td>Score: 40</td>
								<td>     </td>
							</tr>
							<tr>
								<td>YAHTZEE!</td>
								<td>Score: 50</td>
								<td>     </td>
							</tr>
							<tr>
								<td>Chance</td>
								<td>Score Total of All 5 Dice</td>
								<td>     </td>
							</tr>
							<tr>
								<td>YAHTZEE BONUS!</td>
								<td>100 Per Bonus</td>
								<td>   </td><td>   </td><td>   </td>
							</tr>
							<tr class="total">
								<td>TOTAL Lower</td>
								<td>--------</td>
								<td>     </td>
							</tr>
							<tr class="total">
								<td>Total Upper</td>
								<td>-------</td>
								<td>     </td>
							</tr>
							<tr class="total">
								<td>GRAND TOTAL</td>
								<td>-------</td>
								<td>   </td>
							</tr>
						</table>
								</div>
				</div>
	</div>
		</div>
</main>
