<main class="container-fluid ">
	<section>
		<div class="row">
			<div class="col-xs-12">


					<span class="player">Player {{((view.turn+1)%2)+1}}'s Turn!</span>
							</div>
										</div>

	</section>
	<div class="container-fluid backdrop">
		<div class="row">
		<div class="rollsleft dicecenter">
			Rolls Left: {{view.rollsLeft}}
		</div>
				</div>
		<div class="row">
			<div class="dicecenter">
				<div ng-repeat="die in view.viewResult track by $index">
			<div class="col-xs-1">
				<img class="dice" ng-class="{'held': helddicearray.includes($index)}" id="{{'die'+$index}}" src="../img/{{die}}.png" ng-click="toggleHoldDie($index)" alt="" />
				</div>
		</div>
			<!-- <div class="col-xs-1">
				<img class="dice" src="../img/{{view.d2}}.png" alt="" />
			</div>
			<div class="col-xs-1">
				<img class="dice" src="../img/{{view.d2}}.png" alt="" />
			</div>
			<div class="col-xs-1">
				<img class="dice" src="../img/{{view.d2}}.png" alt="" />
			</div>
			<div class="col-xs-1">
				<img class="dice" src="../img/{{view.d2}}.png" alt="" />
			</div> -->
			</div>
					</div>
					<br>
					<div class="row btncenter">
							<button class="rollbtn" name="button" ng-click="roll()">Roll</button>
							<button class="rollbtn" type="button" ng-click="initGame()" ng-disabled="!view.presentationSafe" name="button">Reset</button>
					</div>
		<br>
		<br>
	<div class="container">
	<div class="row">
		<div class="col-xs-6">
			<table class=" table scorecard ">
				<tr class="section">
					<td></td>
					<td>UPPER SECTION</td>
					<td>HOW TO SCORE</td>
					<td>GAME SCORE</td>
				</tr>
				<tr ng-class="{'used': view.player1.acesUsed}">
					<td><button ng-click="checkNumber(1, 'aces', 'player1')" ng-disabled="view.player1.acesUsed || view.turn % 2 === 0" class="rollbtn" type="button" name="button">SCORE!</button></td>
					<td>Aces: 1</td>
					<td>Count and Add Only Aces</td>
					<td>{{view.player1.aces}}</td>
				</tr>
				<tr ng-class="{'used': view.player1.twosUsed}">
					<td><button ng-click="checkNumber(2, 'twos', 'player1')" ng-disabled="view.player1.twosUsed || view.turn % 2 === 0" class="rollbtn" type="button" name="button">SCORE!</button></td>

					<td>Twos: 2</td>
					<td>Count and Add Only Twos</td>
					<td>{{view.player1.twos}}</td>
				</tr>
				<tr ng-class="{'used': view.player1.threesUsed}">
					<td><button class="rollbtn" ng-click="checkNumber(3, 'threes', 'player1')" ng-disabled="view.player1.threesUsed || view.turn % 2 === 0" type="button" name="button">SCORE!</button></td>

					<td>Threes: 3</td>
					<td>Count and Add Only Threes</td>
					<td>{{view.player1.threes}}</td>
				</tr>
				<tr ng-class="{'used': view.player1.foursUsed}">
					<td><button class="rollbtn" type="button" name="button" ng-disabled="view.player1.foursUsed || view.turn % 2 === 0" ng-click="checkNumber(4, 'fours', 'player1')">SCORE!</button></td>

					<td>Fours: 4</td>
					<td>Count and Add Only Fours</td>
					<td>{{view.player1.fours}}</td>
				</tr>
				<tr ng-class="{'used': view.player1.fivesUsed}">
					<td><button class="rollbtn" type="button" name="button" ng-disabled="view.player1.fivesUsed || view.turn % 2 === 0" ng-click="checkNumber(5, 'fives', 'player1')">SCORE!</button></td>

					<td>Fives: 5</td>
					<td>Count and Add Only Fives</td>
					<td>{{view.player1.fives}}</td>
				</tr>
				<tr ng-class="{'used': view.player1.sixesUsed}">
					<td><button class="rollbtn" type="button" name="button" ng-disabled="view.player1.sixesUsed || view.turn % 2 === 0" ng-click="checkNumber(6, 'sixes', 'player1')">SCORE!</button></td>

					<td>Sixes: 6</td>
					<td>Count and Add Only Sixes</td>
					<td>{{view.player1.sixes}}</td>
				</tr>
				<tr class="total">
					<td>TOTAL SCORE</td>
					<td></td>
										<td></td>
					<td>{{view.player1.uppersubtotal}}</td>
				</tr>
				<tr>
					<td>BONUS!</td>
					<td></td>

					<td>If total Score is 63+</td>
					<td>{{view.player1.upperbonus}}</td>
				</tr>
				<tr class="total">
					<td>TOTAL</td>
					<td>Of Upper Section</td>
										<td></td>
					<td>{{view.player1.uppertotal}}</td>
				</tr>
				<tr  class="section">
					<td ></td>
					<td >LOWER SECTION</td>
					<td ></td>
										<td></td>
				</tr>
				<tr ng-class="{'used': view.player1.K3Used}">
					<td><button ng-click="checkK3('player1')" ng-disabled="view.player1.K3Used || view.turn % 2 === 0" class="rollbtn" type="button" name="button">SCORE!</button></td>
					<td>3 of a kind</td>
					<td>Add Total of All Dice</td>
					<td>{{view.player1.K3}}</td>
				</tr>
				<tr ng-class="{'used': view.player1.K4Used}">
					<td><button ng-click="checkK4('player1')" ng-disabled="view.player1.K4Used || view.turn % 2 === 0" class="rollbtn" type="button" name="button">SCORE!</button></td>
					<td>4 of a kind</td>
					<td>Add Total of All Dice</td>
					<td>{{view.player1.K4}}</td>
				</tr>
				<tr ng-class="{'used': view.player1.FHUsed}">
					<td><button ng-click="checkFH('player1')" ng-disabled="view.player1.FHUsed || view.turn % 2 === 0" class="rollbtn" type="button" name="button">SCORE!</button></td>
					<td>Full House</td>
					<td>Score: 25</td>
					<td>{{view.player1.FH}}</td>
				</tr>
				<tr ng-class="{'used': view.player1.SmSUsed}">
				<td><button ng-click="checkSmS('player1')" ng-disabled="view.player1.SmSUsed || view.turn % 2 === 0" class="rollbtn" type="button" name="button">SCORE!</button></td>

				<td>Small Straight (4)</td>
				<td>Score: 30</td>
				<td>{{view.player1.SmS}}</td>
			</tr>
				<tr ng-class="{'used': view.player1.LgSUsed}">
					<td><button ng-click="checkLgS('player1')" ng-disabled="view.player1.LgSUsed || view.turn % 2 === 0" class="rollbtn" type="button" name="button">SCORE!</button></td>
					<td>Large Straight (5)</td>
					<td>Score: 40</td>
					<td>{{view.player1.LgS}}</td>
				</tr>
				<tr ng-class="{'used': view.player1.yahtzeeUsed}">

					<td><button ng-click="checkyahtzee('player1')" ng-disabled="view.player1.yahtzeeUsed || view.turn % 2 === 0" class="rollbtn" type="button" name="button">SCORE!</button></td>

					<td>YAHTZEE!</td>
					<td>Score: 50</td>
					<td>{{view.player1.yahtzee}}</td>
				</tr>
				<tr ng-class="{'used': view.player1.chanceUsed}">
					<td><button ng-click="checkchance('player1')" ng-disabled="view.player1.chanceUsed || view.turn % 2 === 0" class="rollbtn" type="button" name="button">SCORE!</button></td>

					<td>Chance</td>
					<td>Score Total of All 5 Dice</td>
					<td>{{view.player1.chance}}</td>
				</tr>
				<tr>
					<td><button ng-click="checkBonus('player1')" class="rollbtn" type="button" name="button">SCORE!</button></td>

					<td>YAHTZEE BONUS!</td>
					<td>100 Per Bonus</td>
					<td>{{view.player1.yahtzeebonus}}</td>
				</tr>
				<tr class="total">
					<td>TOTAL Lower</td>
					<td></td>
										<td></td>
					<td>{{view.player1.lowertotal}}</td>
				</tr>
				<tr class="total">
					<td class="total">Total Upper</td>
					<td></td>
										<td></td>
					<td>{{view.player1.uppertotal}}</td>
				</tr>
				<tr class="total">
					<td>GRAND TOTAL</td>
					<td></td>
										<td></td>
					<td>{{view.player1.grandtotal}}</td>
				</tr>
			</table>
					</div>
					<div class="col-xs-6">
						<table class=" table scorecard ">
							<tr class="section">
								<td></td>

								<td>UPPER SECTION</td>
								<td>HOW TO SCORE</td>
								<td>GAME SCORE</td>
							</tr>
							<tr ng-class="{'used': view.player2.acesUsed}">
								<td><button class="rollbtn" type="button" name="button" ng-disabled="view.player2.acesUsed || view.turn % 2 !== 0" ng-click="checkNumber(1, 'aces', 'player2')">SCORE!</button></td>

								<td>Aces: 1</td>
								<td>Count and Add Only Aces</td>
								<td>{{view.player2.aces}}</td>
							</tr>
							<tr ng-class="{'used': view.player2.twosUsed}">
								<td><button class="rollbtn" type="button" name="button" ng-disabled="view.player2.twosUsed || view.turn % 2 !== 0" ng-click="checkNumber(2, 'twos', 'player2')">SCORE!</button></td>

								<td>Twos: 2</td>
								<td>Count and Add Only Twos</td>
								<td>{{view.player2.twos}}</td>
							</tr>
							<tr ng-class="{'used': view.player2.threesUsed}">
								<td><button class="rollbtn" type="button" name="button" ng-disabled="view.player2.threesUsed || view.turn % 2 !== 0" ng-click="checkNumber(3, 'threes', 'player2')">SCORE!</button></td>

								<td>Threes: 3</td>
								<td>Count and Add Only Threes</td>
								<td>{{view.player2.threes}}</td>
							</tr>
							<tr ng-class="{'used': view.player2.foursUsed}">
								<td><button class="rollbtn" type="button" name="button" ng-disabled="view.player2.foursUsed || view.turn % 2 !== 0" ng-click="checkNumber(4, 'fours', 'player2')">SCORE!</button></td>

								<td>Fours: 4</td>
								<td>Count and Add Only Fours</td>
								<td>{{view.player2.fours}}</td>
							</tr>
							<tr ng-class="{'used': view.player2.fivesUsed}">
								<td><button class="rollbtn" type="button" name="button" ng-disabled="view.player2.fivesUsed || view.turn % 2 !== 0" ng-click="checkNumber(5, 'fives', 'player2')">SCORE!</button></td>

								<td>Fives: 5</td>
								<td>Count and Add Only Fives</td>
								<td>{{view.player2.fives}}</td>
							</tr>
							<tr ng-class="{'used': view.player2.sixesUsed}">
								<td><button class="rollbtn" type="button" name="button" ng-disabled="view.player2.sixesUsed || view.turn % 2 !== 0" ng-click="checkNumber(6, 'sixes', 'player2')">SCORE!</button></td>

								<td>Sixes: 6</td>
								<td>Count and Add Only Sixes</td>
								<td>{{view.player2.sixes}}</td>
							</tr>
							<tr class="total">
								<td>TOTAL SCORE</td>
								<td></td>
													<td></td>
								<td>{{view.player2.uppersubtotal}}</td>
							</tr>
							<tr>
								<td>BONUS!</td>
								<td></td>

								<td>If total Score is 63+</td>
								<td>{{view.player2.upperbonus}}</td>
							</tr>
							<tr class="total">
								<td>TOTAL</td>
								<td>Of Upper Section</td>
													<td></td>
								<td>{{view.player2.uppertotal}}</td>
							</tr>
							<tr  class="section">
								<td></td>

								<td >LOWER SECTION</td>
								<td ></td>
								<td ></td>
							</tr>
							<tr ng-class="{'used': view.player2.K3Used}">
								<td><button ng-click="checkK3('player2')" ng-disabled="view.player2.K3Used || view.turn % 2 !== 0" class="rollbtn" type="button" name="button">SCORE!</button></td>
								<td>3 of a kind</td>
								<td>Add Total of All Dice</td>
								<td>{{view.player2.K3}}</td>
							</tr>
							<tr ng-class="{'used': view.player2.K4Used}">
								<td><button ng-click="checkK4('player2')" ng-disabled="view.player2.K4Used || view.turn % 2 !== 0" class="rollbtn" type="button" name="button">SCORE!</button></td>
								<td>4 of a kind</td>
								<td>Add Total of All Dice</td>
								<td>{{view.player2.K4}}</td>
							</tr>
							<tr ng-class="{'used': view.player2.FHUsed}">
								<td><button ng-click="checkFH('player2')" ng-disabled="view.player2.FHUsed || view.turn % 2 !== 0" class="rollbtn" type="button" name="button">SCORE!</button></td>
								<td>Full House</td>
								<td>Score: 25</td>
								<td>{{view.player2.FH}}</td>
							</tr>
							<tr ng-class="{'used': view.player2.SmSUsed}">
								<td><button ng-click="checkSmS('player2')" ng-disabled="view.player2.SmSUsed || view.turn % 2 !== 0" class="rollbtn" type="button" name="button">SCORE!</button></td>
							<td>Small Straight (4)</td>
							<td>Score: 30</td>
							<td>{{view.player2.SmS}}</td>
						</tr>
							<tr ng-class="{'used': view.player2.LgSUsed}">
								<td><button ng-click="checkLgS('player2')" ng-disabled="view.player2.LgSUsed || view.turn % 2 !== 0" class="rollbtn" type="button" name="button">SCORE!</button></td>
								<td>Large Straight (5)</td>
								<td>Score: 40</td>
								<td>{{view.player2.LgS}}</td>
							</tr>
							<tr ng-class="{'used': view.player2.yahtzeeUsed}">
								<td><button ng-click="checkyahtzee('player2')" ng-disabled="view.player2.yahtzeeUsed || view.turn % 2 !== 0" class="rollbtn" type="button" name="button">SCORE!</button></td>
								<td>YAHTZEE!</td>
								<td>Score: 50</td>
								<td>{{view.player2.yahtzee}}</td>
							</tr>
							<tr ng-class="{'used': view.player2.chanceUsed}">
								<td><button ng-click="checkchance('player2')" ng-disabled="view.player2.chanceUsed || view.turn % 2 !== 0" class="rollbtn" type="button" name="button">SCORE!</button></td>
								<td>Chance</td>
								<td>Score Total of All 5 Dice</td>
								<td>{{view.player2.chance}}</td>
							</tr>
							<tr>
								<td><button ng-click="checkBonus('player2')" class="rollbtn" type="button" name="button">SCORE!</button></td>
								<td>YAHTZEE BONUS!</td>
								<td>100 Per Bonus</td>
								<td>{{view.player2.yahtzeebonus}}</td>
							</tr>
							<tr class="total">
								<td>TOTAL Lower</td>
								<td></td>
													<td></td>
								<td>{{view.player2.lowertotal}}</td>
							</tr>
							<tr class="total">
								<td class="total">Total Upper</td>
								<td></td>
													<td></td>
								<td>{{view.player2.uppertotal}}</td>
														</tr>
							<tr class="total">
								<td>GRAND TOTAL</td>
								<td></td>
													<td></td>
								<td>{{view.player2.grandtotal}}</td>

							</tr>
						</table>
								</div>

				</div>
	</div>
		</div>
</main>
